.create_article_frame {
  position: fixed;
  width: 50%;
  height: 55%;
  min-height: 350px;

  top: 10%;
  left: 25%;

  background-color: #f5f5f5;
  border: 1px solid;
}

.create_article_form_btn {
  height: 10%;
}

.create_article_form_submit_btn {
  text-align: center;
  padding: 3px;
  margin: 3px;

  text-decoration: none;
  background: #a3bffa;
  color: black;
}

.create_article_form {
  position: relative;
  height: 90%;
  width: 100%;
  text-align: center;
}

.create_article_form_select,
.create_article_form_title,
.create_article_form_body {
  margin: 1% 0;
}

.create_article_form_body > label,
.create_article_form_title > label {
  display: block;
}

.create_article_form_body > textarea, .create_article_form_select > select, .title_input {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  width: 80%;
}
