.article_list_locked {
  text-align: center;
  margin-top: 10%;
}

.article_preview_list {
  width: 94%;
  margin: 7% 3% 0 3%;
}

.article_preview_header:first-child {
  border-top: 1px solid black;
  border-radius: 1%;
}

.article_preview_header {
  display: grid;
  border-left: 1px solid black;
  border-right: 1px solid black;
  grid-template-columns: 1fr 1fr 1fr;

  text-decoration: none;
  color: black;

  background: #a3bffa;
}

.article_preview_title_header {
  margin: auto 0;
  padding: 0 8px;
}

.article_preview_title_header > span {
  font-weight: bold;
}

.article_preview_header_ceil {
  display: grid;
  border-left: 1px solid white;
  padding: 8px;
  font-weight: bold;
}
