.articleHeader {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #a3bffa;
  padding: 10px 5px;
}

.article {
  width: 94%;
  margin: 5% 3% 0 3%;
  border: 1px solid black;
}

.article_starter_message,
.comments_list {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #c3dafe;
}

.comments_list {
  border-top: 1px solid white;
}

.article_starter_message_author {
  padding: 10px 5px;
}

.article_starter_message_body {
  border-left: 1px solid white;
}
.article_starter_message_body_created_at {
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
}
.article_starter_message_body_message {
  padding: 8px;
  background-color: #e4ebec;
  min-height: 30px;
}

.starter_post_btn_edit {
  padding: 4px 6px;

  border: 0.5px solid;
  border-radius: 5%;

  text-decoration: none;
  background: #a3bffa;
  color: black;
}

.update_article_form_body {
  padding: 1%;
}

.update_article_form_body > textarea {
  width: 98%;
}

.update_article_form_submit_btn,
.article_create_comment_submit_btn {
  display: block;
  margin: 0 auto 1% auto;
  padding: 4px 6px;

  border: 0.5px solid;
  border-radius: 5%;

  text-decoration: none;
  background: #a3bffa;
  color: black;
}

.article_create_comment_form {
  margin-top: 5%;
  width: 100;
  text-align: center;
}
