header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0 3%;
}

.headerInformation {
  flex-basis: 20%;
  padding-top: 8px;
}

.headerLogin {
  display: flex;
  flex-basis: 80%;
  padding-top: 8px;

  justify-content: flex-end;
}

.loginSignup,
.loginLogin,
.linkArticles,
.header_logout,
.clear_mock_data_btn,
.login_info {
  display: inline-block;
  box-sizing: border-box;

  text-align: center;
  padding: 8px;
  margin: auto 6px auto 0;

  border: 0.5px solid;
  border-radius: 5%;

  text-decoration: none;
  background: #a3bffa;
  color: black;
}

.loginSignup {
  margin-right: 0;
}

.clear_mock_data_btn {
  background-color: #809fff;
}
