header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0 3%;
}

.headerInformation {
  flex-basis: 80%;
  padding-top: 8px;
}

.headerLogin {
  display: flex;
  flex-basis: 20%;
  height: 50%;
  padding-top: 8px;

  justify-content: flex-end;
}

.loginSignup, .loginLogin, .linkArticles, .header_logout, .clear_mock_data_btn {
  display: inline-block;
  text-align: center;
  padding: 6px;
  margin: auto 0 auto 0;

  border: 0.5px solid;
  border-radius: 5%;

  text-decoration: none;
  background: #a3bffa;
  color: black;
}

.clear_mock_data_btn {
  padding: 7px;
  margin-left: 5px;
}

.login_info {
  display: inline-block;
  padding: 5px;
  margin-right: 3px;

  border: 0.5px solid;
  border-radius: 5%;
  text-decoration: none;
  background: #a3bffa;
  color: black;
}
