.articlePreview:first-child {
  border-top: 1px solid black;
  border-radius: 1%;
}
.article_preview {
  display: grid;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  grid-template-columns: 1fr 1fr 1fr;

  text-decoration: none;
  color: black;

  background: #c3dafe;
}

.article_preview:hover {
  background-color: #66b3ff;
}

.article_preview_ceil {
  display: grid;
  border-left: 1px solid white;
  padding: 8px;
  font-size: 0.9em;
}

.article_preview_title {
  position: relative;
  margin: auto 0;
  padding: 0 8px;
  cursor: pointer;
}

.delete_article_btn {
  position: absolute;
  right: 1%;

  padding: 3px;
  border: 0.5px solid;
  border-radius: 10%;
  float: right;
  color: black;
  background: #a3bffa;
}
