.article_preview:first-child {
  border-top: 1px solid black;
}
.article_preview {
  display: grid;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  grid-template-columns: 1fr 1fr 1fr;

  text-decoration: none;
  color: black;

  background: #c3dafe;
}

.article_preview:hover {
  background-color: #66b3ff;
}

.article_preview_ceil, .article_preview_title {
  padding: 8px;
  font-size: 0.95em;
}

.article_preview_ceil {
  border-left: 1px solid white;
}

.delete_article_btn {
  float: right;

  padding: 3px;
  border: 0.5px solid;
  border-radius: 10%;
  color: black;
  background: #a3bffa;
}
